@import "tailwindcss";

:root {
  --base-600: #4a4548;
  --base-900: #18181b;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--base-600) var(--base-900);
}

body {
  background-color: #18181b;
  margin: 0;
  padding: 0;
}
