@import "tailwindcss";

:root {
  --base-600: #4a4548;
  --base-900: #1e1e22;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--base-600) var(--base-900);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #1e1e22;
  margin: 0;
  padding: 0;
}
